# Virtual Environment
venv/
.venv/
env/

# Python cache files (compiled bytecode)
__pycache__/
*.pyc
*.pyo
*.pyd

# Your large model files (so they don't block git pushes)
*.joblib
*.pkl

# Operating system files
.DS_Store
Thumbs.db